[client-server]
socket=/tmp/mysql.sock
port=3306

[mariadb]
plugin_dir=/usr/local/mysql/lib/plugin
# This is the prefix name to be used for all log, error and replication files
log-basename=mariadb
!includedir /etc/mysql/conf.d/

# The MariaDB server
[mysqld]
# Directory where you want to put your data
datadir=/usr/local/mysql/data
# Directory for the errmsg.sys file in the language you want to use
language=/usr/local/share/mysql/english
# Enable logging by default to help find problems
general-log

innodb_compression_algorithm = lz4

skip-networking=0
skip-bind-address