[client-server]
socket=/tmp/mysql.sock
port=3306

[mariadb]
# This is the prefix name to be used for all log, error and replication files
log-basename=mariadb
skip-name-resolve
malloc-lib=/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4
plugin-dir=/usr/local/mysql/lib/plugin
data-dir=/usr/local/mysql/data
!includedir /etc/mysql/conf.d/

[mysqld_safe]

[mysqld]
# Directory for the errmsg.sys file in the language you want to use
language=/usr/local/share/mysql/english

innodb_compression_algorithm = lz4

skip-networking=0
skip-bind-address